.ekaboksi {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    text-transform: uppercase;
    color: blue;
    border-width: 10px;
    border-color: green;
    border-style:solid;
    text-align:center;
    padding-top: 30px;

}

.tokaboksi {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left : 250px;
    text-transform: uppercase;
    color: blue;
    border-width: 10px;
    border-color: red;
    border-style:solid;
    text-align: center;
    padding-top: 30px;



}

.kolmasboksi {
    width: 200px;
    height: 100px;
    background-color:green;
    position: absolute;
    left: 500px;
    text-transform: uppercase;
    color: blue;
    border-width: 10px;
    border-color: yellow;
    border-style: solid;
    text-align: center;
    padding-top: 30px;
}